# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\项目实战\洋流\Oxcean-dev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
