<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumbox.demo.mbg.mapper.ActivityCollectionMapper">
  <resultMap id="BaseResultMap" type="com.jumbox.demo.mbg.pojo.ActivityCollection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="is_cancelled" jdbcType="INTEGER" property="isCancelled" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
</mapper>