<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumbox.demo.mbg.mapper.CommunityMapper">
  <resultMap id="BaseResultMap" type="com.jumbox.demo.mbg.pojo.Community">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous" />
    <result column="img_number" jdbcType="INTEGER" property="imgNumber" />
    <result column="its_tags" jdbcType="VARCHAR" property="itsTags" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="is_cancelled" jdbcType="INTEGER" property="isCancelled" />
  </resultMap>
</mapper>