<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumbox.demo.mbg.mapper.FuncConfigMapper">
  <resultMap id="BaseResultMap" type="com.jumbox.demo.mbg.pojo.FuncConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="func_name" jdbcType="VARCHAR" property="funcName" />
    <result column="func_value" jdbcType="INTEGER" property="funcValue" />
  </resultMap>
</mapper>